body{
  width: 1920px;
  height: 3171px;
  background-color: #ffffff;
    
}

.centraliza{
	text-align: center;
}
.logo{
	width: 476px;
 	 height: 200px;
  	object-fit: contain;
}
.submenu{
	width: 1920px;
  	height: 838px;
  	object-fit: contain
}

.areapost{
	 width: 1920px;
  	 height: 1792px;
  	-webkit-filter: blur(5px);
  	filter: blur(5px);
  	border: solid 1px #707070;
  	background-color: #f1f1f1;
}

.areapost2{
  width: 400px;
  height: 61px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #0a0a0a;
  margin: 0;
  position: absolute;
  top: 200%;
  left: 50%;
}

.imgpost{
	 width: 521px;
  	height: 347px;
  	object-fit: contain;
  	border: solid 1px #707070;}

.irpgn{
	 width: 70.5px;
  	 height: 70.5px;
  	border: solid 1px #707070;
  	background-color: #ffffff;
}
.parallax1{
	 /* The image used */
  background: #f1f1f1;

  /* Set a specific height */
  background-size: cover;
  width: 1920px;
  height: 1500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.parallax2{
 /* The image used */
  background: url(diversidade-ambiente-trabalho3.jpg);

  /* Set a specific height */
  background-size: cover;
  width: 1920px;
  height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.up{
	width: 70px;
  	height: 70px;
  	margin-left: 1700px;
  	object-fit: contain;
}
.header{
	width: 1920px;
  	height: 303px;
  	background-color: #f1f1f1;
}
.linkedin-logo{
	 width: 99px;
  	 height: 100px;
  	 object-fit: contain;
}
.instagram{
	width: 108px;
  	height: 108px;
  	object-fit: contain;
  	border-radius: 91px;
}
.facebook-logo{
	width: 100px;
  	height: 100px;
  	object-fit: contain;
  	border-radius: 81px;

}
