*{margin: 0;}

.barranav{
        display: flex;
        background-color: #fff;
        position: relative;
        min-width: 100%;
        height: 80px;
        
    }
.buscanav{
    border:solid 1px;
    border-radius:20px;
    border-color: #005f4e;
}

.barranav-logo img{
    width: 180px;
    height: auto;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}


.buscanav #title{
    background-color:#fff;
    border:#005f4e;
    border-radius:20px;
    padding: 5px;
    margin-right: 5px;
    
        
  }

.barranav-items {
    display: flex;
    margin-left: auto;
    align-self: center;
}
.barranav-items a{
    text-decoration: none;
    color: #005f4e;
}

.barranav-link {
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.linhanav {
    background-color:#005f4e;
    min-width: 100%;
    height: 10px;
}
.container{
    display: block;
    padding-top: 60px; 
    width: 80%;
    margin: 0 auto;
}
.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inicio .post {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 25%;
}
.inicio .post a {
    width: 100%;
}
.inicio .post a img {
    width: 100%;
}
.inicio .merchan {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 63.39%;
}
.inicio .merchan a { 
    width: 100%;
}
.inicio .merchan a img {
    width: 100%;
}
.inicio .redes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 10%;
}
.inicio .redes > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.inicio .redes > ul > li > a {
    width: 100%;
}
.inicio .redes > ul > li > a > img {
    width: 50%;
}

@media (max-width: 980px) {
    .inicio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
    .inicio .post {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        width: 100%;
    }
    .inicio .post .card {
        padding: 1%;
    }
    .inicio .post .card img {
        width: 100%;
    }
    .inicio .merchan {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .inicio .redes {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
    .inicio .redes > ul {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }
    .inicio .redes > ul > li > a > img {
        width: 100px;
    }
}
